In [1]:
import pandas as pd

In [2]:
mydata=pd.read_csv(r"500_Person.csv")

In [3]:
mydata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [4]:
type(mydata)

pandas.core.frame.DataFrame

In [5]:
mydata.shape

(500, 4)

In [6]:
it=mydata[mydata.Index==3]

In [7]:
it.shape

(68, 4)

In [8]:
f=it[it.Gender=="Female"]

In [9]:
f.shape

(36, 4)

In [10]:
f.head()

    Gender  Height  Weight  Index
3   Female     195     104      3
12  Female     192     101      3
25  Female     151      64      3
36  Female     197     114      3
55  Female     187      89      3

In [11]:
h=mydata[mydata.Height>180]

In [12]:
h.tail()

     Gender  Height  Weight  Index
484  Female     188     115      4
487    Male     187      80      2
488    Male     198     136      4
492  Female     198      50      0
496  Female     184     121      4

In [13]:
#feature encoding
mydata.Gender[mydata.Gender=="Female"]=1
mydata.Gender[mydata.Gender=="Male"]=2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
mydata

    Gender  Height  Weight  Index
0        2     174      96      4
1        2     189      87      2
2        1     185     110      4
3        1     195     104      3
4        2     149      61      3
..     ...     ...     ...    ...
495      1     150     153      5
496      1     184     121      4
497      1     141     136      5
498      2     150      95      5
499      2     173     131      5

[500 rows x 4 columns]

In [15]:
#seggregation
x=mydata.iloc[:,:3].values
y=mydata.iloc[:,3].values

In [16]:
type(x)

numpy.ndarray

In [17]:
#split
x_train=x[:400]
x_test=x[400:]
y_train=y[:400]
y_test=y[400:]

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
teacher=KNeighborsClassifier()

In [20]:
learner=teacher.fit(x_train,y_train)

In [21]:
yp=learner.predict(x_test)

In [22]:
ya=y_test

In [23]:
compare=pd.DataFrame({"Actual":ya,"Predicted":yp})

In [24]:
compare.head

<bound method NDFrame.head of     Actual  Predicted
0        3          3
1        4          4
2        2          2
3        4          4
4        4          4
..     ...        ...
95       5          5
96       4          4
97       5          5
98       5          5
99       5          5

[100 rows x 2 columns]>

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
acc=accuracy_score(ya,yp)*100

In [27]:
acc

92.0

In [28]:
learner.predict([[2,182,70]])

array([2], dtype=int64)

In [29]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)